.menuLogo {
    display: flex;
    align-items: center;
}
.menuLogo img {
    display: flex;
    align-items: center;
    width: 17px;
    height: 14px;
    margin-right: 1vh;
}
.menuLogo .wanted {
    display: flex;
    align-items: center;
    width: 75px;
    height: 17px;
    font-weight: bold;
}
    
@media (min-width: 768px) and (max-width: 991px) {
   .menuLogo {
        height: 60px;
        padding: 15px 0;
        margin: 10px;
   }
}
    
@media (max-width: 768px) {
    .menuLogo {
        height: 60px;
        width: 100%;
        padding: 22.5px 20px;
    }
}